{
  "name": "{{product.name}}",
  "version": "{{product.version}}",
  "description": "{{product.description}}",
  "detailed_description": "{{product.detailedDescription}}",
  "category": "{{delivery.chrome.category}}",
  "language": "{{delivery.chrome.language}}",
  "website": "{{product.website}}",
  "privacy_policy_url": "{{delivery.chrome.privacyPolicyUrl}}",
  "support_url": "{{delivery.chrome.supportUrl}}"
}
