{
  "title": "{{product.name}}",
  "short_description": "{{product.description}}",
  "full_description": "{{product.detailedDescription}}",
  "category": "{{delivery.android.category}}",
  "content_rating": "{{delivery.android.contentRating}}",
  "default_language": "{{delivery.android.language}}",
  "privacy_policy_url": "{{delivery.android.privacyPolicyUrl}}",
  "contact_email": "{{product.contactEmail}}",
  "version_name": "{{product.version}}",
  "version_code": "{{delivery.android.versionCode}}"
}
